/* General Block */

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --clr-primary-100: #f9faf8;
    --clr-primary-200: #e5e7eb;
    --clr-primary-400: #3882f6;
    
    --clr-secondary-700: #1f2937;

    
    --hero-primary-size: 48px;
    --hero-nav-size: 18px;
    --hero-content-size: 18px;
    --hero-logo-size: 24px;

    --card-size: 150px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* Block */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 32px;
    margin: 0px;
}

.nav{
    display: flex;
}

.hero {
    margin: 0px;
    gap: 32px;
 }

 .cards {
    gap: 32px;
 }

 .card{
    gap: 8px;
    width: var(--card-size);
 }

 .call-to-action {
    gap: 16px;
    padding: 32px;
    flex: 1;
 }

 .footer {
    color: var(--clr-primary-100);
    padding: 32px;
 }

/* Elements */
.section__top-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    font-size: var(--hero-logo-size);
    font-weight: 900;
    color: var(--clr-primary-100);
    padding-right: 32px;
}

.nav__link {
    margin: 8px;
    padding: 0px;
    font-size: var(--hero-secondary-size);
    color: var(--clr-primary-200);
}
.hero__content {
    align-items: flex-start;
    width: 500px;
    gap: 16px;
}

 .hero__title {
    font-size: var(--hero-primary-size);
    font-weight: 900;
    color: var(--clr-primary-100);
 }

 .hero__text {
    font-size: var(--hero-content-size);
    color: var(--clr-primary-200);
 }

 .section button {
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-100);
    font-size: var(--hero-content-size);
    font-weight: 700;
    border: 0.2rem solid var(--clr-primary-100);
    padding: 8px 32px;
 }

.hero__img {
    height: 250px;
    width: 500px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__title{
    font-size: 32px;
    font-weight: 900;
    color: var(--clr-secondary-700);
    margin-bottom: 32px;
}

.cards__text{
    text-align: center;
    flex-grow: 1;
}

.cards__img{
    width: var(--card-size);
    height: var(--card-size);
    border: 0.3rem solid var(--clr-primary-400);
}

.quote__text{
    font-size: 36px;
    font-weight: 100;
    font-style: oblique;
    color: var(--clr-secondary-700);
    max-width: 1000px;
}

.quote__credit {
    font-size: 24px;
    font-weight: 900;
    color: var(--clr-secondary-700);
    align-self: flex-end;
    margin-right: 128px;
}
.call-to-action div {
    align-self: flex-start;
    color: var(--clr-primary-100);
}
.call-to-action #CTA-title {
    font-size: larger;
    font-weight: 900;
}

/* Modifiers */
.column {
    display: flex;
    flex-direction: column;
}
.padded {
    padding: 96px 32px;
}
.rounded {
    border-radius: 1rem;
}

.primary-background {
    background-color: var(--clr-secondary-700);
}

.secondary-background-100 {
    background-color: var(--clr-primary-100);
}

.secondary-background-200 {
    background-color: var(--clr-primary-200);
}
.secondary-background-400 {
    background-color: var(--clr-primary-400);
}
