/* General Block */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --clr-primary-100: #f9faf8;
    --clr-primary-200: #e5e7eb;
    --clr-primary-400: #3882f6;
    
    --clr-secondary-700: #1f2937;

    
    --hero-primary-size: 48px;
    --hero-nav-size: 18px;
    --hero-content-size: 18px;
    --hero-logo-size: 24px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* Block */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 32px;
    margin: 0px;
}

.nav{
    display: flex;
}

.hero {
    margin: 0px;
    padding: 128px 32px;
    gap: 32px;
 }

/* Elements */

.header__logo {
    font-size: var(--hero-logo-size);
    font-weight: 900;
    color: var(--clr-primary-100);
    padding-right: 32px;
}

.nav__link {
    margin: 8px;
    padding: 0px;
    font-size: var(--hero-secondary-size);
    color: var(--clr-primary-200);
}
.hero__content {
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    gap: 16px;
}

 .hero__title {
    font-size: var(--hero-primary-size);
    font-weight: 900;
    color: var(--clr-primary-100);
 }

 .hero__text {
    font-size: var(--hero-content-size);
    color: var(--clr-primary-200);
 }

 .hero button {
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-100);
    font-size: var(--hero-content-size);
    font-weight: 700;
    border: 0.2rem solid var(--clr-primary-100);
    padding: 8px 32px;
 }

.hero__img {
    height: 250px;
    width: 500px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modifiers */

.rounded {
    border-radius: 6px;
}

.primary-background {
    background-color: var(--clr-secondary-700);
}

.secondary-background-100 {
    background-color: var(--clr-primary-100);
}

.secondary-background-300 {
    background-color: var(--clr-primary-200);
}
