* {
    box-sizing: border-box;
}

:root {
    --clr-primary-100: #f9faf8;
    --clr-primary-200: #e5e7eb;
    --clr-primary-400: #3882f6;
    
    --clr-secondary-700: #1f2937;

    
    --hero-primary-size: 48px;
    --hero-secondary-size: 18px;
    --hero-logo-size: 24px;
}

.section {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}